language: python
python:
  - "2.7"
  - "3.6"
  - "pypy"
  - "pypy3"
install:
  - pip install coveralls
  - pip install -r requirements.txt
script:
  - coverage run --source=textparser setup.py test
  - make test-sdist
  - env PYTHONPATH=. python examples/hello_world.py
  - env PYTHONPATH=. python examples/benchmarks/json/errors.py
  - env PYTHONPATH=. python examples/benchmarks/json/parse_tree.py
  - env PYTHONPATH=. python examples/benchmarks/json/speed.py
after_success:
  coveralls
